<div id="sidebar">
  <h3>Topics</h3>

  <ul>
    <li><strong>Recon</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/Recon/web/">Web</a></li>
        <li><a href="{{ site.baseurl }}/Recon/service_scan/">Services</a></li>
      </ul>
    </li>

    <li><strong>Exploit</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/metasploit/">Metasploit</a></li>
        <li><a href="{{ site.baseurl }}/Web/xss/">XSS</a></li>
        <li><a href="{{ site.baseurl }}/Web/sqli/">SQLi</a></li>
        <li><a href="{{ site.baseurl }}/Web/command_injection/">Command Injection</a></li>
        <li><a href="{{ site.baseurl }}/Web/file_upload/">File Upload Attack</a></li>
        <li><a href="{{ site.baseurl }}/Web/ssrf/">SSRF</a></li>
        <li><a href="{{ site.baseurl }}/Web/ssti/">SSTI</a></li>
        <li><a href="{{ site.baseurl }}/Web/ssi/">SSI</a></li>
        <li><a href="{{ site.baseurl }}/Web/xslt/">XSLT</a></li>
        <li><a href="{{ site.baseurl }}/Web/brute_force/">Brute Force Attacks</a></li>
        <li><a href="{{ site.baseurl }}/Web/bypass_auth/">Bypassing Authentication</a></li>
        <li><a href="{{ site.baseurl }}/Web/verb_tempering/">Verb Tempering</a></li>
        <li><a href="{{ site.baseurl }}/Web/idor/">IDOR</a></li>
        <li><a href="{{ site.baseurl }}/Web/xxe/">XXE</a></li>
        <li><a href="{{ site.baseurl }}/Web/file_disclosure/">File Disclosure</a></li>
        <li><a href="{{ site.baseurl }}/Web/RCE/">RCE</a></li>
        <li><a href="{{ site.baseurl }}/Web/inclusion_scanning/">LFI Scanning</a></li>
        <li><a href="{{ site.baseurl }}/Web/session_attacks/">Session Attacks</a></li>
        <li><a href="{{ site.baseurl }}/Web/fuzzing/">Fuzzing</a></li>
      </ul>
    </li>

    <li><strong>Shells</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/payloads/">Payloads</a></li>
        <li><a href="{{ site.baseurl }}/upgrade_shell/">Upgrade Shell</a></li>
        <li><a href="{{ site.baseurl }}/web_shells/">Web Shells</a></li>
      </ul>
    </li>

    <li><strong>PrivEsc</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/linux_privesc/">Linux PrivEsc</a></li>
        <li><a href="{{ site.baseurl }}/toctou/">TOCTOU</a></li>
      </ul>
    </li>

    <li><strong>File Transfer</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/http_transfer/">HTTP</a></li>
        <li><a href="{{ site.baseurl }}/smb_transfer/">SMB</a></li>
        <li><a href="{{ site.baseurl }}/scp_transfer/">SCP</a></li>
        <li><a href="{{ site.baseurl }}/other_transfer/">Other</a></li>
      </ul>
    </li>

    <li><strong>Tools</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/tmux/">Tmux</a></li>
        <li><a href="{{ site.baseurl }}/Web/burpsuite/">BurpSuite</a></li>
        <li><a href="{{ site.baseurl }}/proxychains/">Proxychains</a></li>
        <li><a href="{{ site.baseurl }}/other_tools/">Other</a></li>
      </ul>
    </li>

  </ul>
</div>
