<div id="sidebar">
  <h3>Topics</h3>

  <ul>
    <li><strong>Recon</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/Recon/web/">Web</a></li>
        <li><a href="{{ site.baseurl }}/Recon/service_scan/">Services</a></li>
      </ul>
    </li>

    <li><strong>Exploit</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/metasploit/">Metasploit</a></li>
      </ul>
    </li>

    <li><strong>Shells</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/payloads/">Payloads</a></li>
        <li><a href="{{ site.baseurl }}/upgrade_shell/">Upgrade Shell</a></li>
        <li><a href="{{ site.baseurl }}/web_shells/">Web Shells</a></li>
      </ul>
    </li>

    <li><strong>PrivEsc</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/linux_privesc/">Linux PrivEsc</a></li>
        <li><a href="{{ site.baseurl }}/toctou/">TOCTOU</a></li>
      </ul>
    </li>

    <li><strong>File Transfer</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/http_transfer/">HTTP</a></li>
        <li><a href="{{ site.baseurl }}/smb_transfer/">SMB</a></li>
        <li><a href="{{ site.baseurl }}/scp_transfer/">SCP</a></li>
        <li><a href="{{ site.baseurl }}/other_transfer/">Other</a></li>
      </ul>
    </li>

    <li><strong>Tools</strong>
      <ul>
        <li><a href="{{ site.baseurl }}/tmux/">Tmux</a></li>
        <li><a href="{{ site.baseurl }}/Web/burpsuite/">BurpSuite</a></li>
        <li><a href="{{ site.baseurl }}/other_tools/">Other</a></li>
      </ul>
    </li>

  </ul>
</div>
